* {
  background-color: transparent;
  color: white;
}

body {
  background-color: #e6edf5;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 600;
}

h1.teal-dark {
  color: #2cb2b3;
}
p.green-light {
  color: #bfe031;
}

p.grey {
  color: grey;
  opacity: 65%;
}

.container {
  display: flex;
  flex-direction: column;

  width: 30rem;
  height: auto;
  box-shadow: 0 6px 2.5px 2px #aaaaaa;
  border-radius: 0.5rem;
}
.top {
  padding-block: 1.7rem;
  padding-left: 1.7rem;
  padding-right: 3.4rem;
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
}

.bottom {
  display: flex;
}
.bottom-left {
  background-color: #2cb2b3;
  width: 50%;
  padding-inline: 1.7rem;
  padding-block: 1.7rem;
  border-radius: 0 0 0 0.5rem;
}
.price {
  display: flex;
  margin-block: 0.2rem;
}

p.price {
  margin-left: 0.5rem;
}

h1.price {
  font-size: 1.4rem;
}

button.sign-up {
  background-color: #bfe031;
  border-width: 0;
  border-color: transparent;
  width: 95%;
  box-shadow: 0 4px 2px -2px #aaaaaa;
}
.bottom-right {
  background-color: #4abebd;
  width: 45%;
  padding-left: 1.7rem;
  padding-right: 3.4rem;
  padding-block: 1.7rem;
  border-radius: 0 0 0.5rem 0;
}
