* {
  margin: 0;
  background-color: transparent;
  list-style-type: none;
  color: var(--white);
  font-family: "Courier New", Courier, monospace;
  font-size: small;
}

:root {
  --color-green-light: #bbdf37;
  --color-blue-light: #e5edf7;
  --color-teal-dark: #2bb3b1;
  --color-teal-light: #4abebd;
  --weak-opacity: 50%;
  --white: white;
  --color-grey: grey;

  --widget-main-width: 30rem;
  --widget-width-clamp-min-multiplier: 0.05;
  --widget-width-clamp-max-multiplier: 0.1;
  --widget-margin-clamp-preferred: 60%;
  --widget-sub-width-divider: 2;
  --widget-sub-multipiler: 0.5;

  --widget-main-margin-clamp-min: calc(
    var(--widget-main-width) * var(--widget-width-clamp-min-multiplier)
  );
  --widget-main-margin-clamp-max: calc(
    var(--widget-main-width) * var(--widget-width-clamp-max-multiplier)
  );
  --widget-main-margin: clamp(
    var(--widget-main-margin-clamp-min),
    var(--widget-margin-clamp-preferred),
    var(--widget-main-margin-clamp-max)
  );

  --widget-sub-width: calc(
    var(--widget-main-width) * var(--widget-sub-multipiler)
  );
  --widget-sub-margin-clamp-min: calc(
    var(--widget-sub-width) * var(--widget-width-clamp-min-multiplier)
  );
  --widget-sub-margin-clamp-max: calc(
    var(--widget-sub-width) * var(--widget-width-clamp-max-multiplier)
  );
  --widget-sub-margin: clamp(
    var(--widget-sub-margin-clamp-min),
    var(--widget-margin-clamp-preferred),
    var(--widget-sub-margin-clamp-max)
  );
}

body {
  background-color: var(--color-blue-light);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.font-color-teal-dark {
  color: var(--color-teal-dark);
}

.font-color-teal-light {
  color: var(--color-teal-light);
}

.font-color-green-light {
  color: var(--color-green-light);
}

.font-color-grey {
  color: var(--color-grey);
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  width: auto;
  height: 100%;
}

.widget-main {
  width: var(--widget-main-width);
  height: 100%;
}

.widget-sub {
  width: var(--widget-sub-width);
  height: 100%;
}

#main-top {
  background-color: var(--white);
}
#main-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#sub-left {
  background-color: var(--color-teal-dark);
}
#sub-right {
  background-color: var(--color-teal-light);
}
.widget-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  white-space: pre-line;
}

.widget-main-margin {
  margin-block: var(--widget-main-margin);
  margin-inline: var(--widget-sub-margin);
}
.widget-sub-margin {
  margin: var(--widget-sub-margin);
}
.button-bg-color {
  background-color: var(--color-green-light);
}
