* {
  margin: 0;
  background-color: transparent;
  list-style-type: none;
  color: var(--white);
  font-family: "Courier New", Courier, monospace;
}

:root {
  --color-green-light: #bbdf37;
  --color-blue-light: #e5edf7;
  --color-teal-dark: #2bb3b1;
  --color-teal-light: #4abebd;
  --weak-opacity: 50%;
  --white: white;
  --color-grey: grey;

  --widget-sub-width: 9rem;
  --widget-sub-width-clamp-min-multiplier: 0.05;
  --widget-sub-width-clamp-max-multiplier: 0.1;
  --widget-padding-clamp-preferred-sub: 50%;
  --widget-main-padding-inline-multiplier: 2;

  --widget-padding-clamp-min: calc(
    var(--widget-sub-width) * var(--widget-sub-width-clamp-min-multiplier)
  );
  --widget-padding-clamp-max: calc(
    var(--widget-sub-width) * var(--widget-sub-width-clamp-max-multiplier)
  );

  --widget-padding-unit: clamp(
    var(--widget-padding-clamp-min),
    var(--widget-padding-clamp-preferred-sub),
    var(--widget-padding-clamp-max)
  );

  --widget-padding: var(--widget-padding-unit);
}

body {
  background-color: var(--color-blue-light);
}

.font-color-teal-dark {
  color: var(--color-teal-dark);
}

.font-color-teal-light {
  color: var(--color-teal-light);
}

.font-color-green-light {
  color: var(--color-green-light);
}

.font-color-grey {
  color: var(--color-grey);
}

.font-color- .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

  width: auto;
  height: 100%;
}
/* .container>*{
  background-color: transparent;;
} */

.widget-main {
}

.widget-sub {
  width: var(--widget-sub-width);
}

#main-top {
  width: calc(var(--widget-sub-width) * 2);
  background-color: var(--white);
  padding-block: var(--widget-padding);
  padding-inline: calc(
    var(--widget-padding) * var(--widget-main-padding-inline-multiplier)
  );
}
#main-bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
#sub-left {
  background-color: var(--color-teal-dark);
  padding: var(--widget-padding);
}
#sub-right {
  background-color: var(--color-teal-light);
  padding: var(--widget-padding);
}
