* {
  margin: 0;
  background-color: var(--blue-light-color);
  list-style-type: none;
  font-family: "Courier New", Courier, monospace;
}

body{
  background-color: transparent;
}

:root {
  --green-light-color: #bbdf37;
  --blue-light-color: #e5edf7;
  --teal-dark-color: #2bb3b1;
  --teal-light-color: #4abebd;
  --weak-opacity: 50%;
  --white: white;
  --widget-sub-width: 7rem;
  --
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

  width: auto;
  height: 100%;
}
.widget-main {
}
.widget-main>*{
  background-color: transparent;
}

.widget-sub {
  width: var(--widget-sub-width);
}

.widget-sub>*{
  background-color: transparent;
}

.widget-padding{

}

#main-top {
  width: calc(var(--widget-sub-width) * 2);

  background-color: var(--white);
}
#main-bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
#sub-left {
  background-color: var(--teal-dark-color);
}
#sub-right {
  background-color: var(--teal-light-color);
}
